#root {
  max-width: 1280px;
	max-width: fit-content;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
	background-color: rgb(159, 86, 33);
}

h1 {
	font-family: 'Roboto',sans-serif;
	font-display: block;
	color: rgb(1, 1, 1);
}

h2 {
	font-family: 'Roboto',sans-serif;
	font-display: block;
	color: rgb(1, 1, 1);
	font-size: x-small;
}
